<div class="title-group">
  <div class="title">
    <p2>Dashboard</p2>
    <p3>| <%= @delivery_route.name %> (ALL)</p3>
  </div>
</div>

<div class="dashboard-tabs">
  <%= link_to "全日（日別）",
      dashboard_path(@delivery_route),
      class: "dash-tab #{action_name == 'index' ? 'active' : ''}" %>

  <%= link_to "単日実績",
      daily_dashboard_path(@delivery_route, date: @dates&.first),
      class: "dash-tab #{action_name == 'daily' ? 'active' : ''}" %>
</div>

<div class="pagination-wrapper">
  <%= paginate @page_dates %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>日付</th>
      <th>件数</th>
      <th>個数</th>
      <th>走行距離</th>
      <th>所要時間</th>
      <th>負荷ポイント</th>
    </tr>
  </thead>

  <tbody>
    <% @daily_course_runs.each do |daily_course_run| %>
      <% stops_all = daily_course_run.daily_course_run_stops %>
      <% stops_done = stops_all.where.not(completed_at: nil).order(:completed_at) %>

      <tr>
        <td><strong><%= daily_course_run.service_date.strftime("%m/%d") %></strong></td>
        <td><%= stops_all.count %>件</td>
        <td><%= stops_all.sum(:pieces_count) %>個</td>
        <%# 念のため走行距離欠損対策"-" %>
        <td>
          <% start_km = daily_course_run.odo_start_km %>
          <% end_km   = daily_course_run.odo_end_km %>

          <% if start_km.present? && end_km.present? %>
            <%= end_km - start_km %> km
          <% else %>
            —
          <% end %>
        </td>

        <td>
          <% if stops_done.present? %>
            <span class="time-highlight">
              <%= (stops_done.last.completed_at - stops_done.first.completed_at).to_i / 60 %>分
            </span>
          <% else %>
            <span class="text-muted">-</span>
          <% end %>
        </td>

        <td>
          <span class="score-badge">
            <%= daily_course_run.daily_course_run_score_snapshots.last&.total_score || "-" %>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination-wrapper">
  <%= paginate @page_dates %>
</div>

<div class="nav-button-group">
  <%= link_to "コース選択画面へ戻る", courses_dashboard_index_path, class: "btn btn-secondary" %>
</div>
