<h1>WelcomeBack!</h1>

<%= form_with url: login_path, method: :post, local: true do |form| %>
  <div>
    <%= form.label :employee_no, "Employee No." %>
    <%= form.number_field :employee_no, required: true %>
  </div>

  <div>
    <%= form.submit "Log in", class: "btn btn-primary" %>
  </div>
<% end %>

<% if flash[:alert] %>
  <p style="color: red;"><%= flash[:alert] %></p>
<% end %>
