<div class="container">
  <meta name="turbo-visit-control" content="reload">
  <input type="hidden" id="delivery-id" value="<%= @delivery.id %>">

  <script>
    window.currentDeliveryId = <%= @delivery.id %>;
  </script>

  <div class="header">
    <h1>Welcome back!</h1>
    <h2 lang="ja"><%= Employee.find(session[:employee_id]).last_name_ja %> さん</h2>
  </div>

  <div class="title-group">
    <div class="title">
      <p2>荷物登録</p2>
      <p3>| Package-Registration</p3>
    </div>
    <div class="course-driver">
      <p1><%= @delivery.course.name %> コース : <%= Employee.find(session[:employee_id]).last_name_ja %>D</p1>
    </div>
  </div>

  <%= form_with url: delivery_stops_path, method: :post, local: true do |form| %>
    <div class="form-group">

    <div class="field-row destinations">
      <%= form.label :destination_id, "配達先：" %>
      <%= form.collection_select :destination_id, @delivery.course.destinations, :id, :name, { prompt: "選択してください" },
                                class: "form-select select-30", id: "select-destinations", required: true %>
    </div>

    <div class="field-row packages">
      <%= form.label :packages_count, "件数：" %>
      <%= form.number_field :packages_count, min: 1, max: 10, required: true, id: "select-packages", class: "form-select select-30" %>
    </div>

    <div class="field-row pieces-count">
      <%= form.label :pieces_count, "個数：" %>
      <%= form.number_field :pieces_count, min: 1, max: 20, required: true, id: "select-pieces", class: "form-select select-30" %>
    </div>
  <% end %>
  
  <div class="button-group">
    <button id="button-add" type="button" class="button">Add</button>
    <%= link_to "新規配達先登録", new_destination_path, class: "button" %>
  </div>

  <div class="list-box">
    <div class="title-group">
      <div class="title">
        <p2>配達先一覧</p2>
        <p3>| List of Destinations</p3>
      </div>
    </div>

    <ul id="list">
      <% @delivery_stops.each do |stop| %>
        <% next if stop.completed_at.present? %>  <!-- 完了済みはスキップ -->
        <li><%= stop.destination.name %>：<%= stop.packages_count %>件／<%= stop.pieces_count %>個</li>
      <% end %>
    </ul>
  </div>

  <div class="nav-button-group">
    <%= link_to "戻る", delivery_path(@delivery), class: "btn btn-secondary" %>
    <%= link_to "一覧へ", delivery_stops_path, class: "btn btn-primary" %>
  </div>
</div>
<%= javascript_import_module_tag "delivery_stops" %>